/* change content effect */
.noticeWrap {
    height: 22px;
    overflow: hidden;
    position: relative;
    flex: 1;
    text-align: center;
    line-height: 22px;
}

.noticeRow {
    position: absolute;
    height: 100%;
    width: 100%;
}

@keyframes anim1 {
    0% {
        top: 0;
        opacity: 1;
    }

    45% {
        top: 0;
        opacity: 1;
    }

    50% {
        top: -100%;
        opacity: 0;
    }

    51% {
        top: 100%;
        opacity: 0;
    }

    95% {
        top: 100%;
        opacity: 1;
    }

    96% {
        opacity: 1;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes anim2 {
    0% {
        top: 100%;
        opacity: 0;
    }

    45% {
        top: 100%;
        opacity: 0;
    }

    50% {
        top: 0;
        opacity: 1;
    }

    95% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -100%;
        opacity: 0;
    }
}

.noticeRow:nth-child(1) {
    animation: anim1 5s linear infinite;
}

.noticeRow:nth-child(2) {
    top: 25px;
    animation: anim2 5s linear infinite;
}

/* stars cursor following effect */

/* .star {
	position: fixed;
	pointer-events: none;
}

.star:before, .star:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '\2726';
	font-size: 9px;
}

.star:before {
	color: transparent;
	text-shadow: 0 0 3px rgb(130, 175, 196);
}

.star:after {
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */